---
import Layout from '../../layouts/Layout.astro';
import { getList } from '../../lib/communities.ts';

export async function getStaticPaths() {
    const communities = getList();
    return communities.map((community) => {
      return {
        params: {key: community.key},
        props: {community}
        };
    });
}

const { community } = Astro.props;
---

<Layout>
  <main>
    <h1 class="title has-text-black">
        <img src={"/imgs/communities/" + community.image}
             onerror="this.onerror=null;this.src='/imgs/noLogo.png';"
        />
        {community.name}
    </h1>
    <div class="container is-fluid community"
         id="communityDetails"
         data-patterns-google-calendar={JSON.stringify(community.patternsGoogleCalendar)}>
        <div class="columns">
            <div class="column has-text-black">
                <p class="title has-text-black">En bref...</p>
                <p>{community.shortDescription}</p>
                <ul class="socialLinks">
                    {community.socialLinks
                        .map(
                            (socialLink) => (
                            <li>
                                <a href={socialLink.url} target="_blank" class={"fa fa-2x fa-" + socialLink.icon} title={socialLink.tooltip}></a>
                            </li>
                            )
                        )
                    }
                </ul>
            </div>
            <div class="column is-4"
                 id="upcomingEvents"
                 data-pane-title="A venir !"
                 data-no-event-caption="Pas d'événements dans les 4 prochains mois.">
            </div>
            <div class="column is-4"
                 id="pastEvents"
                 data-pane-title="Ce que vous avez manqué..."
                 data-no-event-caption="Pas d'événements durant les 4 derniers mois.">
            </div>
        </div>
    </div>
  </main>
</Layout>
