---
import Layout from '../../layouts/Layout.astro';
import { getList } from '../../lib/communities.ts';

export async function getStaticPaths() {
    const communities = getList();
    return communities.map((community) => {
      return {
        params: {key: community.key},
        props: {community}
        };
    });
}

const { community } = Astro.props;
---

<Layout>
  <main>
    <div class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="colum is-half">
            <p class="title">
              <img src={"/imgs/communities/" + community.image}
                   onerror="this.onerror=null;this.src='/imgs/noLogo.png';"
                   class="image"
                   style="max-height: 10em;"
              />
            </p>
            <p class="subtitle">{community.name}</p>
          </div>
        </div>
        <div class="grid"
             id="communityDetails"
             data-patterns-google-calendar={JSON.stringify(community.patternsGoogleCalendar)}>
          <div class="cell">
            <div class="card">
              <div class="card-content">
                <p class="title">En bref...</p>
                <p>{community.shortDescription}</p>
                <p>
                    {community.socialLinks
                        .map(
                            (socialLink) => (
                            <a href={socialLink.url} target="_blank" class={"m-2 fa-2x " + socialLink.icon} title={socialLink.tooltip}></a>
                            )
                        )
                    }
                </p>
              </div>
            </div>
          </div>
          <div class="cell is-4"
               id="upcomingEvents"
               data-pane-title="A venir !"
               data-no-event-caption="Pas d'événements dans les 4 prochains mois.">
          </div>
          <div class="cell is-4"
               id="pastEvents"
               data-pane-title="Ce que vous avez manqué..."
               data-no-event-caption="Pas d'événements durant les 4 derniers mois.">
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
